{% extends 'layout.html' %}

{% block head %}
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
		<style>
			body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 42pt;
        bottom: 0;
        width: 100%;
      }
    </style>
{% endblock %}
    </head>

{% block body %}
		<style>
    #menu {
      background: #fff;
      position: absolute;
      z-index: 1;
      top: 50pt;
      left: 10pt;
      border-radius: 3px;
      width: 120px;
      border: 1px solid rgba(0,0,0,0.4);
      font-family: 'Open Sans', sans-serif;
      }

    #menu a {
      font-size: 13px;
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0,0,0,0.25);
      text-align: center;
      }
      
    #menu a:last-child {
      border: none;
      }
    
    #menu a:hover {
      background-color: #f8f8f8;
      color: #404040;
      }
    
    #menu a.active {
      background-color: #3887be;
      color: #ffffff;
      }
    
    #menu a.active:hover {
      background: #3074a4;
      }

		.legend {
			background-color: #fff;
			border-radius: 3px;
			bottom: 30px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.10);
			font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
			padding: 10px;
			position: absolute;
			right: 10px;
			z-index: 1;
			}
		.legend h4 {
			margin: 0 0 10px;
			}
		.legend div span {
			border-radius: 50%;
			display: inline-block;
			height: 10px;
			margin-right: 5px;
			width: 10px;
			}
    </style>
    
		<div id='all-violations-legend' class='legend'>
			<h4>SDWA Violations (2012-2016)</h4>
			<div><span style='background-color: #FFEDA0'></span>5</div>
			<div><span style='background-color: #FEB24C'></span>15</div>
			<div><span style='background-color: #FC4E2A'></span>35</div>
			<div><span style='background-color: #BD0026'></span>65</div>
			<div><span style='background-color: #800026'></span>128</div>
		</div>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />
    <div id='map'></div>

    <nav id="menu"></nav>
    <!-- <div id='style_menu'>
        <input id='streets-v11' type='radio' name='rtoggle' value='streets' checked='checked'>
        <label for='streets'>streets</label>
        <input id='satellite-v9' type='radio' name='rtoggle' value='satellite'>
        <label for='satellite'>satellite</label>
    </div> -->

        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoienN0YXRtYW53ZWlsIiwiYSI6ImNqbWY3b3V2cjAyMWUzcXBmNXRzdHNnOWEifQ.E-JUGH3ab30ya_NXealg_A';
				
        // Add lists for choropleth
        var vioColors = ['#FFEDA0',  '#FEB24C',  '#FC4E2A', '#BD0026', '#800026'];
        var demoColors = ['#d0c2d6',  '#b69bc1',  '#805591', '#501966', '#2a0738']; // update
        // All violations
        var vioBreaks = [5, 15, 35, 65, 128];
        // Health violations
        var healthVioBreaks = [1, 2, 4, 5, 10]; // need to update
        // Percent below the poverty line (areal weighting)
        var percPOCBreaks = [0.12, 0.20, 0.32, 0.54, 0.98];
        // Percent below the poverty line (areal weighting)
        var percPovBreaks = [0.05, 0.09, 0.14, 0.24, 0.47];
        // Percent below the poverty line (county-level analysis)
        var percPOCBreaksCounty = [20, 35, 45, 55, 71]; // need to update
        // Percent below the poverty line (county-level analysis)
        var percPovBreaksCounty = [6, 9, 12, 14, 17]; // need to update

        // Set bounds
        var bounds = [
            [-125.339515, 23.089636], // Southwest Coordinates
            [-62.346295, 50.046593] // Norteast Coordinates
            ];
        // Initialize map
        var map = new mapboxgl.Map({
	        container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-74.385210, 40.118365], // long, lat
          zoom: 7,
        //    maxBounds: bounds // Sets bounds as max
        });
        
        // Toggle between styles
        // var layerList = document.getElementById('style_menu');
        // var inputs = layerList.getElementsByTagName('input');
        // function switchLayer(layer) {
        //     var layerId = layer.target.id;
        //     map.setStyle('mapbox://styles/mapbox/' + layerId);
        // }
        // for (var i = 0; i < inputs.length; i++) {
        //     inputs[i].onclick = switchLayer;
        // }
        // Add Geocoder
        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken
        }));
        // Add navigation control
        map.addControl(new mapboxgl.NavigationControl());
        function mapReset() {
        }
				map.addControl(new mapboxgl.FullscreenControl());
        map.on('style.load', function() {
            mapReset();
						// Add NJ boundary source
            map.addSource("NJ", {
                type: "geojson",
                data: 'https://raw.githubusercontent.com/zstatmanweil/EJ-analysis-map/master/web_app/data/NJ_boundary.geojson'
                });
						// Add NJ boundary layer
            map.addLayer({
               'id': 'new_jersey',
               'type': 'line',
               'source': 'NJ',
               'layout': {},
               'paint': {
                   'line-color': '#070705'
                }
            });
            // Add percent below the poverty line (areal weighting)
            map.addLayer({
              'id': 'perc_pov_aw',
              'type': 'fill',
              "source": {
                type: 'vector',
                url: 'mapbox://zstatmanweil.01gjua4s'
              },
              "source-layer": "pws_aw",
                'paint': {
                     'fill-color': {
                       'property': 'perc_pov',
                       'stops': [
                         [percPovBreaks[0], demoColors[0]],
                         [percPovBreaks[1], demoColors[1]],
                         [percPovBreaks[2], demoColors[2]],
												 [percPovBreaks[3], demoColors[3]],
                         [percPovBreaks[4], demoColors[4]],
                       ]
                       },
                      'fill-opacity': 0.9,
											'fill-outline-color': '#6d6d51'
                  }
              });
            // Add percent POC (areal weighting)
            map.addLayer({
              'id': 'perc_POC_aw',
              'type': 'fill',
              "source": {
                type: 'vector',
                url: 'mapbox://zstatmanweil.01gjua4s'
              },
              "source-layer": "pws_aw",
                'paint': {
                     'fill-color': {
                       'property': 'perc_POC',
                       'stops': [
                         [percPOCBreaks[0], demoColors[0]],
                         [percPOCBreaks[1], demoColors[1]],
                         [percPOCBreaks[2], demoColors[2]],
												 [percPOCBreaks[3], demoColors[3]],
                         [percPOCBreaks[4], demoColors[4]],
                       ]
                       },
                      'fill-opacity': 0.9,
											'fill-outline-color': '#6d6d51'
                  }
              });
            // Add health violation data layer
            map.addLayer({
              'id': 'Health-based SDWA Violations',
              'type': 'fill',
              "source": {
                type: 'vector',
                url: 'mapbox://zstatmanweil.01gjua4s'
              },
              "source-layer": "pws_aw",
              'paint': {
                    'fill-color': {
                      'property': 'health_violations',
                      'stops': [
                        [healthVioBreaks[0], vioColors[0]], // need to update these
                        [healthVioBreaks[1], vioColors[1]],
                        [healthVioBreaks[2], vioColors[2]],
                        [healthVioBreaks[3], vioColors[3]],
                        [healthVioBreaks[4], vioColors[4]],
                      ]
                      },
                    'fill-opacity': 0.9,
                    'fill-outline-color': '#6d6d51'
                }
              });
						// Add all violations
            map.addLayer({
              'id': 'Total SDWA Violations',
              'type': 'fill',
              "source": {
                type: 'vector',
                url: 'mapbox://zstatmanweil.01gjua4s'
              },
              "source-layer": "pws_aw",
                'paint': {
                     'fill-color': {
                       'property': 'all_violations',
                       'stops': [
                         [vioBreaks[0], vioColors[0]],
                         [vioBreaks[1], vioColors[1]],
                         [vioBreaks[2], vioColors[2]],
												 [vioBreaks[3], vioColors[3]],
                         [vioBreaks[4], vioColors[4]],
                       ]
                       },
                      'fill-opacity': 0.9,
											'fill-outline-color': '#6d6d51'
                  }
              });
            
            // Add percent below the poverty line (county-level analysis)
            // map.addLayer({
            //   'id': 'perc_pov_county',
            //   'type': 'fill',
            //   "source": {
            //     type: 'vector',
            //     url: 'zstatmanweil.1vd9qjbs'
            //   },
            //   "source-layer": "pws_county-8ry2w7",
            //     'paint': {
            //          'fill-color': {
            //            'property': 'perc_pov',
            //            'stops': [
            //              [percPovBreaksCounty[0], demoColors[0]],
            //              [percPovBreaksCounty[1], demoColors[1]],
            //              [percPovBreaksCounty[2], demoColors[2]],
						// 						 [percPovBreaksCounty[3], demoColors[3]],
            //              [percPovBreaksCounty[4], demoColors[4]],
            //            ]
            //            },
            //           'fill-opacity': 0.9,
						// 					'fill-outline-color': '#6d6d51'
            //       }
            //   });
            // // Add percent POC (county-level analysis)
            // map.addLayer({
            //   'id': 'perc_POC_county',
            //   'type': 'fill',
            //   "source": {
            //     type: 'vector',
            //     url: 'zstatmanweil.1vd9qjbs'
            //   },
            //   "source-layer": "pws_county-8ry2w7",
            //     'paint': {
            //          'fill-color': {
            //            'property': 'perc_POC',
            //            'stops': [
            //              [percPOCBreaksCounty[0], demoColors[0]],
            //              [percPOCBreaksCounty[1], demoColors[1]],
            //              [percPOCBreaksCounty[2], demoColors[2]],
						// 						 [percPOCBreaksCounty[3], demoColors[3]],
            //              [percPOCBreaksCounty[4], demoColors[4]],
            //            ]
            //            },
            //           'fill-opacity': 0.9,
						// 					'fill-outline-color': '#6d6d51'
            //       }
            //   });
        });

        // Toggle between layers
        var toggleableLayerIds = [ 'Total SDWA Violations', 'Health-based SDWA Violations', 'perc_POC_aw', 'perc_pov_aw' ];
 
        for (var i = 0; i < toggleableLayerIds.length; i++) {
          var id = toggleableLayerIds[i];
        
          var link = document.createElement('a');
          link.href = '#';
          link.className = 'active';
          link.textContent = id;
          
          link.onclick = function (e) {
            var clickedLayer = this.textContent;
            e.preventDefault();
            e.stopPropagation();
        
            var visibility = map.getLayoutProperty(clickedLayer, 'visibility');
        
            if (visibility === 'visible') {
              map.setLayoutProperty(clickedLayer, 'visibility', 'none');
              this.className = '';
            } else {
              this.className = 'active';
              map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
            }
        };
        
        var layers = document.getElementById('menu');
        layers.appendChild(link);
        }
 
        </script>
{% endblock %}
