{% extends 'layout.html' %}

{% block head %}
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
		<style>
			body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 42pt;
        bottom: 0;
        width: 100%;
      }
    </style>
{% endblock %}
    </head>

{% block body %}
		<style>
    #menu {
          position: absolute;
          background: #fff;
          top: 48pt;
          padding: 8px;
          font-family: 'Open Sans', sans-serif;
        }

		.legend {
			background-color: #fff;
			border-radius: 3px;
			bottom: 30px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.10);
			font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
			padding: 10px;
			position: absolute;
			right: 10px;
			z-index: 1;
			}
		.legend h4 {
			margin: 0 0 10px;
			}
		.legend div span {
			border-radius: 50%;
			display: inline-block;
			height: 10px;
			margin-right: 5px;
			width: 10px;
			}
    </style>
    
		<div id='all-violations-legend' class='legend'>
			<h4>SDWA Violations (2012-2016)</h4>
			<div><span style='background-color: #FFEDA0'></span>5</div>
			<div><span style='background-color: #FEB24C'></span>15</div>
			<div><span style='background-color: #FC4E2A'></span>35</div>
			<div><span style='background-color: #BD0026'></span>65</div>
			<div><span style='background-color: #800026'></span>128</div>
		</div>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />
    <div id='map'></div>

    <div id='menu'>
        <input id='streets-v11' type='radio' name='rtoggle' value='streets' checked='checked'>
        <label for='streets'>streets</label>
        <input id='satellite-v9' type='radio' name='rtoggle' value='satellite'>
        <label for='satellite'>satellite</label>
    </div>

        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoienN0YXRtYW53ZWlsIiwiYSI6ImNqbWY3b3V2cjAyMWUzcXBmNXRzdHNnOWEifQ.E-JUGH3ab30ya_NXealg_A';
				// Add lists for choropleth
        var vioColors = ['#FFEDA0',  '#FEB24C',  '#FC4E2A', '#BD0026', '#800026'];
        var vioBreaks = [5, 15, 35, 65, 128];
        // Set bounds
        var bounds = [
            [-125.339515, 23.089636], // Southwest Coordinates
            [-62.346295, 50.046593] // Norteast Coordinates
            ];
        // Initialize map
        var map = new mapboxgl.Map({
	        container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-74.385210, 40.118365], // long, lat
          zoom: 7,
        //    maxBounds: bounds // Sets bounds as max
        });
        
        // Toggle between styles
        var layerList = document.getElementById('menu');
        var inputs = layerList.getElementsByTagName('input');
        function switchLayer(layer) {
            var layerId = layer.target.id;
            map.setStyle('mapbox://styles/mapbox/' + layerId);
        }
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].onclick = switchLayer;
        }
        // Add Geocoder
        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken
        }));
        // Add navigation control
        map.addControl(new mapboxgl.NavigationControl());
        function mapReset() {
        }
				map.addControl(new mapboxgl.FullscreenControl());
        map.on('style.load', function() {
            mapReset();
						// Add NJ boundary source
            map.addSource("NJ", {
                type: "geojson",
                data: 'https://raw.githubusercontent.com/zstatmanweil/EJ-analysis-map/master/web_app/data/NJ_boundary.geojson'
                });
						// Add NJ boundary layer
            map.addLayer({
               'id': 'new_jersey',
               'type': 'line',
               'source': 'NJ',
               'layout': {},
               'paint': {
                   'line-color': '#070705'
                }
            });
            // Add PWS, violation and demographic data source
            map.addLayer({
              'id': 'all_violations',
              'type': 'fill',
              "source": {
                type: 'vector',
                url: 'mapbox://zstatmanweil.01gjua4s'
              },
              "source-layer": "pws_aw",
              'paint': {
                    'fill-color': {
                      'property': 'all_violations',
                      'stops': [
                        [vioBreaks[0], vioColors[0]],
                        [vioBreaks[1], vioColors[1]],
                        [vioBreaks[2], vioColors[2]],
                        [vioBreaks[3], vioColors[3]],
                        [vioBreaks[4], vioColors[4]],
                      ]
                      },
                    'fill-opacity': 0.9,
                    'fill-outline-color': '#6d6d51'
                }
              });
						// Add PWS, violation and demographic data layer
            // map.addLayer({
            //     'id': 'aw_pws',
            //     'type': 'fill',
            //     'source': 'aw',
            //     'paint': {
            //          'fill-color': {
            //            'property': 'all_violations',
            //            'stops': [
            //              [vioBreaks[0], vioColors[0]],
            //              [vioBreaks[1], vioColors[1]],
            //              [vioBreaks[2], vioColors[2]],
						// 						 [vioBreaks[3], vioColors[3]],
            //              [vioBreaks[4], vioColors[4]],
            //            ]
            //            },
            //           'fill-opacity': 0.9,
						// 					'fill-outline-color': '#070705'
            //       }
            //   });
        });
        </script>
{% endblock %}
